.play-button {
    position: absolute;
    top: 313px;
    right: 820px;
    font-size: 400px;
    padding: 1px 30px;
    background-color: #00F30A;
    border-radius: 70px;
    cursor: pointer;
    color: white;
    stroke: #1a1a1a;
    stroke-dashoffset: 20px;
    z-index: 90;
}

.play-button:hover {
    background-color: lightsalmon;
}
